<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Login Page</h1>
    {% if forms.errors %}
    <p> There are some erros in the form</p>
    {% endif %}

    {% if next %}
    <p>Hey you cant access this page</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {{form.as_p }}

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ value }}">

    </form>

    <a href="{% url 'authenticate:register' %}">Register</a>
    <a href="{% url 'authenticate:password_change' %}">Change Password</a>
        
</body>
</html>